// Sample Text
nav.navbar(role="navigation")
        div.navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
              span.glyphicon.glyphicon-chevron-down
            a.navbar-brand(href="#") !{Site.Title}
        div#bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                - for (var i in MainNavigation)
                    - var item = MainNavigation[i];
                    - if (item.ShowInMenus == 0) continue;
                    li
                        a(href=basePath+'/'+item.URLSegment) #{item.Title}
            include loginform
