// Sample Text
div.col-md-2
    ul
        - for (var i in Navigation)
            - var item = Navigation[i];
            - if (item.ShowInMenus == 0) continue;
            - var link = originalPath+'/'+item.URLSegment;
            li
                a(href=item.URLSegment) #{item.Title}
