nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
    div.container
        div.row
            div.col-md-10
                p Your are logged in as Thomas Hoffmann. Click here to logout.