div.col-md-1
        div.btn-group-vertical
            a.btn.btn-default(href="./pages") Pages
            a.btn.btn-default(href="./security") Security
            a.btn.btn-default(href="./settings") Settings
            a.btn.btn-default(href="./files") Files
            a.btn.btn-default(href="./reports") Reports
        