// 
    Sample Text
extends ../index

block content
    div.container
        div.row
            include ../includes/subnavigation
            div.col-md-10
                h1 #{Page.Title}
                hr
                p !{Page.Content}
