// 
    Sample Text
extends ../index

block content
        div.container
            div.row
                div.col-md-10
                   h1 #{Page.Title}
            div.row
                div.col-md-1
                div.col-md-11
                   p !{Page.Content}
   