// 
    Sample Text
extends ../index

block content
        div.container
            div.row
                div.col-md-12
                   h1 #{Page.Title}
                   hr
                   p !{Page.Content}
   