/*body { padding-top: 90px; }*/ /* needed for fixed header */
/*body { padding-bottom: 90px; }*/ /* needed for fixed footer */

body, a, a:hover{
    color: #13267F;
}

a, a:hover{
    color: #13267F;
}

nav.navbar{
    background-color: #728BFF;
    border-radius: 0px;
    border: 0px;
    box-shadow: rgba(114,139,255,0.6) 0px 1px 1px;
}
.navbar-toggle, .navbar-brand, .nav>li>a{
    color: white;
    text-shadow: #13267F 1px 1px 1px;
}
.navbar-brand:hover, .nav>li>a:hover{
    color: white;
    background-color: transparent;
    text-shadow: #000 1px 1px 1px;
}


/*

13267F darkest
728BFF lightest
264BFF lighter
39457F darker
1E3CCC medium
*/
/* displaying the login fileds sticked together */
.login-control {
  max-width: 300px;
}
/* displaying the login fileds sticked together */
.login-control > .form-control {
    /*float: right;*/
    width: 115px;
}
